{% extends 'base.html' %}
{% load i18n %}

{% block body %}
<div id="intro">
	<h1>{% trans "Welcome to Survey Application"%}</h1>
    {% if messages %}
        <p>
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </p>
    {% endif %}

	<ul class="list-group">
		{% for survey in surveys %}
		<li><a  href="{{ survey.get_absolute_url }}">{{survey.name}}</a></li>
		{% endfor %}
	</div>
</div>
{% endblock %}
